.arrow {
  content: "";
  display: block;
  width: 0.5rem;
  height: 2rem;
  position: relative;
  background-color: $white;
  transform: rotate(-45deg);
  top: 8px;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.5rem;
    height: 2rem;
    background-color: $white;
    transform: rotate(-90deg);
    right: -8px;
    top: 8px;
  }
}

.arrow-head__container {
  position: absolute;
  top: 50%;

  &--left {
    left: 1%;
  }

  &--right {
    right: 6%;
  }
}

.arrow-head {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid white;
  background-color: $black;

  &--left {
    transform: rotate(180deg);
  }

  &--bg-transparent {
    background-color: rgba($black, 0.5);
  }
}