.arrow {
  content: "";
  display: block;
  width: 0.5rem;
  height: 2rem;
  position: relative;
  background-color: $white;
  transform: rotate(-45deg);
  top: 8px;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.5rem;
    height: 2rem;
    background-color: $white;
    transform: rotate(-90deg);
    right: -8px;
    top: 8px;
  }
}