.btn {
  @include setText(1.6rem, 700, center);
  font-family: 'Open Sans', sans-serif;
  max-width: 20rem;
  padding: 1.5rem 3rem;
  background-color: $white;
  cursor: pointer;

  &--green {
    color: $darkGreen;
    border: 2px solid $darkGreen;
  }

  &--center {
    margin: 0 auto;
  }
}