.primary-info {
  position: relative;
  top: 8rem;
  display: grid;

  @include device-medium {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;    
  }
}

.primary-info-column {
  position: relative;
  padding: 0 2rem;

  &--left {
    @include device-medium {
      grid-column: 1 / 2;
    }
  }

  &--right {
    display: grid;

    @include device-medium-large-no-max {
      grid-template-columns: repeat(5, 1fr);
      grid-column: 2 / 3;
    }

    @include device-medium {
      grid-column: 4 / -1;      
    }

  }
}

.primary-info-title {
  @include setText(2rem, 700, $transform: uppercase);
  letter-spacing: 0.6rem;
  max-width: 30rem;
  grid-column: 1 / 5;
  grid-row: 2;
  align-self: center;
}

.primary-info-description {
  @include setText(1.7rem, 700);
  grid-column: 1 / 5;
  grid-row: 3;
}